html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.app-container {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.app-container-background {
    /*background: whitesmoke;*/
}


.game-container {
    height: 480px;
    width: 320px;
}

.game-container-background {
    box-sizing: border-box;
    border: 1px dotted gray;
}

.view-container {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.start-view-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.start-view-container__title {
    margin: 0;
    padding: 0;
}

.start-view-container__description {
    margin: 0;
    padding: 0;
}

.start-view-container__start-button {
    border: 1px dotted gray;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    width: 50%;
}
